/* OFFCANVAS NAVBAR MENU */

.offcanvas-header{
    display: flex;
    /* justify-content: center; Horizontal centering */
    align-items: center;
    margin:0;
}
.offcanvas-body {
    overflow-y: auto; /* Ensure vertical scrollbar is shown */
    scrollbar-width: thin; /* Set the width of the scrollbar */
}

.gradient-line {
    background: radial-gradient(circle at center, #000000 0%, #ffffff 100%); /* Adjust colors as needed */
    height: 1px; /* Set the height of the line */
    border: none; /* Remove border */
  }
.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #1A3358;
    display: inline-block; 
    vertical-align: middle;
}
.btn-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #000; /* Inherit text color */
}
.btn-transparent.active, .btn-transparent:hover {
    background-color: rgba(255, 255, 255, 1) !important; /* Adjust opacity here */
    color: #000;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}
/* Apply transparent background and border to the submit button */
form button[type="submit"].btn-transparent {
    background-color: transparent;
    border: none;
    color: #000; /* Inherit text color */
    cursor: pointer; /* Ensure pointer cursor */
}

/* Apply styles on hover and when active to the submit button */
form button[type="submit"].btn-transparent:hover,
form button[type="submit"].btn-transparent:active {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background color */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.button-label {
    margin-left: 10px; /* Adjust spacing between icon and button label as needed */
}

/* Style for icon buttons */
.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    /* border: 1px solid #ccc; Border color */
    border-radius: 5px; /* Adjust border radius as needed */
    margin: 10px; /* Adjust margin between buttons as needed */
}

/* Style for active icon buttons */
.btn-icon.active {
    background-color: #4DD0E1; /* Blue background color */
    color: white; /* Text color */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}
/* Style for inactive icon buttons */
.btn-icon:not(.active) {
    background-color: white; /* White background color */
    color: #1A315F; /* Text color */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Style for icon inside the button */
.btn-icon i {
    /* Ensure FontAwesome icons inherit proper styles */
    display: block;
    margin: 0; /* Reset margin */
}
@media (max-width: 992px) {

    .offcanvas.offcanvas-start.bg-body-tertiary {
        width: fit-content !important;
    }
    .button-label{
        display: none;
    }
}

/* MAIN CONTENT */

/* SCHEDULE */
::-webkit-scrollbar {
    height: 6px; /* Adjust the width as needed */
    width: 6px;
}

/* Thin scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color as needed */
    border-radius: 3px; /* Adjust the border-radius as needed */
}
  
.nav-link:not(.active){
    color: #9ca4a4;
}
.tab-pane{
    margin: 20px;

}
#table-unscheduled, #table-on-going, #table-completed, #table-items {
    min-width: 100%; /* Set initial minimum width to 100% */
    width: 100%; /* Ensure the table fills its container */
}
@media (max-width: 933px) {
    #table-unscheduled, #table-on-going, #table-completed, #table-items {
    min-width: 932px; /* Set minimum width to 932px for larger screens */
    }
}
th, td { 
    white-space: nowrap; 
}
.c8tableTools01 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

}
.c8tableBody  {
    width: 100%;
    overflow-x: scroll;
}
.c8tableTools02 {
    display: flex;
    justify-content: space-between;
}

div.dt-container div.dt-search input:focus {
    box-shadow: none;
    border-color: black;
}
div.dt-container div.dt-length select:focus {
    box-shadow: none;
    border-color: black;
}
div.dt-container div.dt-paging ul.pagination {
    margin: 0;
    padding: 0;
}

div.dt-container div.dt-paging ul.pagination li.page-item {
    margin: 0;
    padding: 0;
    display: inline-block;
}
div.dt-container div.dt-paging ul.pagination li.page-item.active a.page-link,
div.dt-container div.dt-paging ul.pagination li.page-item.active a.page-link:hover {
  border: 1px solid black; /* Black border */
}
div.dt-container div.dt-paging ul.pagination li.page-item.active a.page-link {
    background-color: #4DD0E1; /* Blue background color */
    color: white; /* Text color */
    box-shadow: none; /* Remove shadow */
}

/* Style for inactive pagination buttons */
div.dt-container div.dt-paging ul.pagination li.page-item:not(.active) a.page-link {
    background-color: white; /* White background color */
    color: #1A315F; /* Text color */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

div.dt-container div.dt-paging ul.pagination li.page-item.disabled a.page-link {
    background-color: #e9ecef; /* Blue background color */
    color: #5e6066; /* Text color */
    box-shadow: none; /* Remove shadow */
}

.btn-outline-info:hover{
    background-color: #B2EBF2;
    border-color: #B2EBF2;
}
.btn-info{
    background-color: #B2EBF2;
    border-color: #B2EBF2;
}
.btn-info:hover{
    background-color: #90e2ec ;
    border-color: #B2EBF2;
}
/* GENERATE SCHEDULE */

.generate-schedule {
    margin:10px;
}
.generate1 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

}
.generateBody  {
    width: 100%;
    overflow-x: scroll;
}
.generate2 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* ITEMS */
.custom-col-woi {
    width: 500px;
    /* overflow-x: auto;  */
    /* scrollbar-width: thin;  */
}
.form-control::placeholder {
    color: var(--bs-secondary-color);
    opacity: 50%;
  }
@media (max-width: 600px) {
    .custom-col-woi {
        max-width: 500px;
        overflow-x: auto;
        scrollbar-width: thin;
    }
}

    /* display: flex; */
    /* justify-content: center; Horizontal centering */
    /* align-items: center; */
    /* margin:0; */

.title-form{
    font-size: 20px;
    font-weight: bold;
}

.form-label {
    font-size: 14px;
}

.text-bg-custom {
    color: white !important;
    background-color: RGBA(var(--bs-info-rgb), var(--bs-bg-opacity, 1)) !important;
}

/* GRAPH */


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

/* DASHBOARD */


.main-content .container form.d-flex {
    display: flex;
    align-items: center; /* Vertical alignment */
}
.main-content .container form.d-flex .vertical-line {
    border-left: 2px solid #dee2e6; /* Softer color with increased thickness */
    height: 20px; /* Adjust the height to match the button and input box */
    margin: 10px 5px; /* Add margin top and bottom */
    display: flex;
    /* color: #adb5bd; */
    align-items: center; /* Vertical alignment */
}
.main-content .container form.d-flex .btn-dashboard {
    height: 60px; /* Adjust the height as needed */
    width: 60px; /* Adjust the height as needed */
    margin: 10px 5px; /* Add margin top and bottom */
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    color: #adb5bd;
}
.main-content .container form.d-flex .btn-dashboard:active {
    box-shadow: none; /* Remove shadow on focus */
    border: none; /* Remove border on focus */
}

.main-content .container form.d-flex .btn-dashboard:hover {
    color: #343a40;
    background: #f8f9fa;

}
.main-content .container form.d-flex .form-control {
    height: 60px; /* Adjust the height as needed */
    margin: 10px 5px; /* Add margin top and bottom */
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    color: #adb5bd;
    padding: 0 10px;
}
.main-content .container form.d-flex .form-control:focus {
    box-shadow: none; /* Remove shadow on focus */
    border: none; /* Remove border on focus */
    background: #f8f9fa;
}

.main-content .container .horizontal-line {
    border-top: 2px solid #dee2e6; /* Softer color with increased thickness */
    margin: 10px 5px; /* Add margin top and bottom */
    display: flex;
    align-items: center; /* Vertical alignment */
}
.main-content .container .d-flex .status-container .vertical-line {
    border-left: 2px solid #dee2e6; /* Softer color with increased thickness */
    height: 50px; /* Adjust the height to match the button and input box */
    margin: 10px 10px; /* Add margin top and bottom */
    display: flex;
    /* color: #adb5bd; */
    align-items: center; /* Vertical alignment */
}
.main-content .container .d-flex {
    display: flex;
    align-items: center;
}
.main-content .container .d-flex .status-container {
    display: flex;
    align-items: center;
}
.title-dashboard {
    font-size: 14px;
    color: #adb5bd;
}
.title-dashboard2 {
    font-size: 14px;
    color: #495057;
}
.title-dashboard4 {
    font-size: 12px;
    color: #adb5bd;
}
.title-dashboard3 {
    font-size: 14px;
    color: #495057;
    font-weight: bold;
    align-items: start;
}
.main-content .container .d-flex.justify-content-between .status-container .status-item {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    text-align: end;
}
.main-content .container .d-flex.justify-content-between .status-container .status-item .statusnya{
    color: #adb5bd;

}
.main-content .container .d-flex.justify-content-between .status-container .status-item .statusnya .fa-triangle-exclamation{
    color:#e35d6a;
}
.main-content .container .d-flex.justify-content-between .status-container .status-item .statusnya .fa-truck-fast{
    color:#a370f7;
}
.main-content .container .d-flex.justify-content-between .status-container .status-item .statusnya .fa-square-check{
    color:#6edff6;
}
.main-content .container .d-flex.justify-content-between .status-container .status-item .row {
    width: 125px;
}

.main-content .container .col-md-12 .card{
    background: #f8f9fa;
    border: none;
}
/* SEARCH */
.main-content .container hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-content .container .d-flex.justify-content-between .container .status-search {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    text-align: start;

}
.main-content .container .d-flex.justify-content-between .container .status-search .statusnya{
    color: #adb5bd;

}

.main-content .container .d-flex .container .vertical-line {
    border-left: 2px solid #dee2e6; /* Softer color with increased thickness */
    height: 100px; /* Adjust the height to match the button and input box */
    margin: 10px 10px; /* Add margin top and bottom */
    display: flex;
    /* color: #adb5bd; */
    align-items: center;
}

.not-found {
    font-size: 20px;
    text-align: center;
}

.list-group-flush {
    list-style: none;
    padding: 0;
}

.list-group-flush .list-group-item {
    border-left: 2px solid #dee2e6; /* Adjust the color of the vertical line */
    padding-left: 10px; /* Adjust the left padding */
    position: relative;
}

.list-group-flush .list-group-item::before {
    content: '';
    position: absolute;
    top: 50%; /* Position the bullet in the middle vertically */
    left: -4px; /* Adjust the position of the bullet */
    transform: translateY(-50%); /* Adjust to center vertically */
    width: 6px; /* Adjust the size of the bullet */
    height: 6px; /* Adjust the size of the bullet */
    background-color: #dee2e6; /* Adjust the color of the bullet */
    border-radius: 50%;
}



.list-group-flush .list-group-item:first-child {
    border-top: none; /* Remove top border for the first item */
}

.list-group-flush .list-group-item:last-child {
    border-bottom: none; /* Remove bottom border for the last item */
}
.search-font {
    padding-bottom: 10px;
}
.title-item {
    font-size: 20px;
    font-weight: bold;
    color: #90e2ec;
    margin-bottom: 20px;
}

.accordion-button {
    min-width: 100% !important;
    width: 100% !important;
}
.accordion-button.collapse {
    background-color: white;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: #B2EBF2;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button:focus {
    box-shadow: none;
    width: 100% !important;
    min-width: 100% !important;
}
.custom-accordion-header {
    min-width: 310px;
    width: 100% !important; /* Adjust the minimum height as needed */
  }

/* FOOTER */
.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    flex-shrink: 0; /* Don't shrink footer when content is short */
    margin-top: auto; /* Push footer to bottom */
    margin-right: 20px;
    padding-bottom: 20px;
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center; /* Align content in the center */
}